{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{ HEAD_TITLE }}</title>
    <link href="{% static "blog_app/css/index.css" %}" type="text/css" rel="stylesheet" />
    {% block header %}
    {% endblock %}
</head>


<body>

<div class='nav'>
    <ul>
{#        {% for navigation_tag in navigationtag_list %}#}
{#            <li><a href="{{ navigation_tag.get_absolute_url }}" >{{navigation_tag.tag_name}}</a></li>#}
{#        {% endfor %}#}
        {{ 11111111111 }}
    </ul>
</div>

{% block body %}
{% endblock %}


<script src='http://codepen.io/assets/libs/fullpage/jquery.js'></script>

<script src="{% static "blog_app/js/index.js" %}", type="text/javascript"></script>
</body>
</html>