{% extends 'base/base.html' %}
{% load static %}
{% block body %}
<div class="article_record">
    <div class="article_title">
        <a href="#">value : article_title</a>
    </div>
    <div class="article_summary">
{#        {{ 'summary' }}#}
        value : article_summary 简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要
        简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要简要
        <a href="#" class="desc_readmore">阅读全文</a>
    </div>
    <div class="discuss">
        <a href="#" rel="nofollow">评论</a>
    </div>
</div>
{% endblock %}